<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- create navbar header -->

<!-- formatting for form -->
<form th:action="@{/editProfileForm}" th:object = "${useForm}" method="post">
    <div>
        <h4>Credentials</h4>
        <div>
            <label>First name</label>:
            <input type="text" th:field="*{firstName}"/>
        </div>

        <div>
            <label>Last name</label>:
            <input type="text" th:field="*{lastName}"/>
        </div>

        <div>
            <label>Email address</label>:
            <input type="email" th:field="*{email}"/>
            <p th:text = "${emailError}"></p>
        </div>

        <div>
            <label>Username</label>:
            <input type="text" th:field="*{username}"/>
            <p th:text = "${usernameError}"></p>
        </div>

        <div>
            <label>Phone number</label>:
            <input type="text" th:field="*{phoneNumber}"/>
        </div>
    </div>

    <div>
        <h4>Credit/Debit Card</h4>
        <div>
            <label>Card number</label>:
            <input type="text" th:field="*{cardNumber}"/>
        </div>

        <div>
            <label>Expiration date</label>:
            <input type="text" th:field="*{expirationDate}" placeholder="mm/yyyy"/>
            <p th:text = "${dateError}"></p>
        </div>

        <div>
            <label>Security code</label>:
            <input type="text" th:field="*{securityCode}"/>
            <p th:text = "${codError}"></p>
        </div>
    </div>

    <div>
        <h4>Shipping Address</h4>
        <div>
            <label>Street</label>:
            <input type="text" th:field="*{street}"/>
        </div>

        <div>
            <label>City</label>:
            <input type="text" th:field="*{city}"/>
        </div>

        <div>
            <label>State</label>:
            <input type="text" th:field="*{state}"/>
        </div>

        <div>
            <label>Zip code</label>:
            <input type="text" th:field="*{zip}"/>
        </div>
    </div>

    <div>
        <label>Subscribe</label>
        <select class="form-control" th:field="*{subscribed}">
            <option th:value="1" >yes</option>
            <option th:value="0" >no</option>
        </select>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<div class="container">
    <div class="well well-danger">
        <p>About</p>
        <p>Contact Support</p>
        <p>Help</p>
        <p>Terms and Conditions</p>
        <p>Privacy Policy</p>
    </div>
</div>
</body>
</html>