<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<!-- create nav bar -->

<!-- format login form -->
<h1>User Login</h1>
<form th:action="@{/login}" method="post">

    <div>
        <label>Email address</label>:
        <input type="text" required placeholder="e.g. frankocean@gmail.com"/>
    </div>

    <div>
        <label>Password</label>:
        <input type="password" required placeholder="e.g. Bdh91jd2e#d2$"/>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>

    <div>
        <span>
            Don't have an account? <a th:href="@{/registration}"> Register </a>
        </span>
    </div>

</form>

</body>
</html>