<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Promotions</title>
</head>
<body>

<h2>Promotions</h2>
<table>
    <thead>
    <tr>
        <th>Promo-Code</th>
        <th>Percentage</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="promotion : ${promotions}">
        <td th:text="${promotion.promoCode}"></td>
        <td th:text="${promotion.percentage}"></td>
        <td th:text="${promotion.startDate}"></td>
        <td th:text="${promotion.endDate}"></td>
    </tr>
    </tbody>
</table>
</div>
<p><a href="/add-promotion">Add a new promotion</a></p>
</form>
</body>
</html>