<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Books</title>
</head>
<body>

<h2>Books</h2>
<table>
    <thead>
    <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Category</th>
        <th>Author</th>
        <th>Edition</th>
        <th>Publisher</th>
        <th>Publication Year</th>
        <th>Quantity In Stock</th>
        <th>Minimum Threshold</th>
        <th>Buy Price</th>
        <th>Sell Price</th>
        <th>Archived</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td><img th:src="@{images/${book.coverPicURL}" alt="${book.coverPicURL}" src="../static/images/${book.coverPicURL}"/></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.category}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.edition}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.publicationYear}"></td>
        <td th:text="${book.quantityInStock}"></td>
        <td th:text="${book.minimumThreshold}"></td>
        <td th:text="${book.buyPrice}"></td>
        <td th:text="${book.sellPrice}"></td>
        <td th:text="${book.archived}"></td>
        <td><a th:href="@{/edit/{id}(id=${book.isbn})}">Update</a></td>
        <td><a th:href="@{/archive/{id}(id=${book.isbn)}">Archive</a></td>
    </tr>
    </tbody>
</table>
</div>
<p><a href="/add-book">Add a new book</a></p>
</form>

</body>
</html>