<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- create navbar for admin -->
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Role</th>
        <th>Active</th>
        <th>Subscribed Year</th>
        <th>Suspended</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.active}"></td>
        <td th:text="${user.subscribed}"></td>
        <td th:text="${user.suspended}"></td>
        <td><a th:href="@{/suspend/{username}(username=${user.username})}">Suspend User</a></td>
        <td><a th:href="@{/unsuspend/{username}(username=${user.username})}">Unsuspend User</a></td>
        <td><a th:href="@{/promote/{username}(username=${user.username})}">Promote Employee</a></td>
        <td><a th:href="@{/demote/{username}(username=${user.username})}">Demote User</a></td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/adminShowAddBookForm}">Add a new book</a>
</div>
<div class="container">
    <div class="well well-danger">
        <p>About</p>
        <p>Contact Support</p>
        <p>Help</p>
        <p>Terms and Conditions</p>
        <p>Privacy Policy</p>
    </div>
</div>
</body>
</html>