<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!-- create nav bar -->

<!-- format login form -->
<h1>Profile</h1>

<div>
    <h4>Credentials</h4>
    <div>
        <label>First name</label>:
        <span th:text="${user.firstName}"></span>
    </div>

    <div>
        <label>Last name</label>:
        <span th:text="${user.lastName}"></span>
    </div>

    <div>
        <label>Email address</label>:
        <span th:text="${user.email}"></span>
        <p th:text = "${emailError}"></p>
    </div>

    <div>
        <label>Username</label>:
        <span th:text="${user.username}"></span>
        <p th:text = "${usernameError}"></p>
    </div>

    <div>
        <label>Phone number</label>:
        <span th:text="${user.phoneNumber}"></span>
    </div>
</div>

<div>
    <h4>Shipping Address</h4>
    <div>
        <label>Street</label>:
        <span th:text="${user.street}"></span>
    </div>

    <div>
        <label>City</label>:
        <span th:text="${user.city}"></span>
    </div>

    <div>
        <label>State</label>:
        <span th:text="${user.state}"></span>
    </div>

    <div>
        <label>Zip code</label>:
        <span th:text="${user.zip}"></span>
    </div>
</div>

<div>
    <a th:href="@{/reset-password}">Forgot password?</a>
</div>
<div class="container">
    <div class="well well-danger">
        <p>About</p>
        <p>Contact Support</p>
        <p>Help</p>
        <p>Terms and Conditions</p>
        <p>Privacy Policy</p>
    </div>
</div>
</body>
</html>